<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="registerForm" method="post">
        <label for="usernameID">Username</label>
    <input type="text" name="username" id="usernameID" required> <br>
        <label for="passwordID">Password</label>
        <input type="text" name="password" id="passwordID" required> <br>
        <input type="submit" name="submit" id="submitID" value="SUBMIT">
    </form>
</body>
</html>